/**
 * ----------------------------------------------
 * MrFlexible Configuration
 * ----------------------------------------------
 *
 * Variables that holds Configuration of CSS.
 * The css can easily be changed and by chan-
 * ging values of these variables.
 */
/**
 * ----------------------------------------------
 * Color setup
 * ----------------------------------------------
 *
 */
.bg-primary {
  background-color: #0f3057; }

/**
 * ----------------------------------------------
 * Fonts setup
 * ----------------------------------------------
 *
 */
/**
 * ----------------------------------------------
 * Grid setup
 * ----------------------------------------------
 *
 */
/**
 * ----------------------------------------------
 * Patials imports
 * ----------------------------------------------
 *
 *
 */
/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, canvas, details, embed, figure, figcaption, header, nav, article, aside, footer, img, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, select {
  margin: 0;
  padding: 8px 10px;
  outline: 0 none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #CFCFCF;
  font-size: 14px;
  border-radius: 3px;
  background-color: #FFFFFF; }

/* end reset browser styles */
@font-face {
  font-family: "Montserrat-regular";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf"); }
html, body {
  background-color: #f0f0f0;
  color: #ffffff;
  font-family: "Montserrat-regular"; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a:active {
  outline: 0; }

a:focus {
  outline: 0; }

input[type="submit"]:active, input[type="reset"]:active, button:active {
  outline: 0; }

input[type="submit"]:focus, input[type="reset"]:focus, button:focus {
  outline: 0; }

input::-moz-focus-inner, button::-moz-focus-inner {
  outline: 0;
  border: 0; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  color: inherit; }

.h1, h1 {
  font-size: 2em; }

.h2, h2 {
  font-size: 1.75em; }

.h3, h3 {
  font-size: 1.50em; }

.h4, h4 {
  font-size: 1.25em; }

.h5, h5 {
  font-size: 1.0em; }

.h6, h6 {
  font-size: 0.75em; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

a {
  text-decoration: none;
  color: #777777; }

.btn-reset, .btn, input.btn, button.btn {
  display: inline-block;
  margin: 0;
  outline: 0 none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  font-family: "Montserrat-regular";
  white-space: nowrap; }

.fl-column {
  flex-direction: column; }

.fl-row {
  flex-direction: row; }

.row-reverse {
  flex-direction: row-reverse; }

.col-reverse {
  flex-direction: column-reverse; }

.fl-start {
  justify-content: flex-start; }

.fl-end {
  justify-content: flex-end; }

.fl-center {
  justify-content: center; }

.fl-between {
  justify-content: space-between; }

.fl-around {
  justify-content: space-around; }

.fl-evenly {
  justify-content: space-evenly; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mr-10 {
  margin-right: 10px; }

.mr-20 {
  margin-right: 20px; }

.mr-30 {
  margin-right: 30px; }

.mr-40 {
  margin-right: 40px; }

.mr-50 {
  margin-right: 50px; }

.mr-60 {
  margin-right: 60px; }

.mr-70 {
  margin-right: 70px; }

.mr-80 {
  margin-right: 80px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.ml-10 {
  margin-left: 10px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

.ml-40 {
  margin-left: 40px; }

.ml-50 {
  margin-left: 50px; }

.ml-60 {
  margin-left: 60px; }

.ml-70 {
  margin-left: 70px; }

.ml-80 {
  margin-left: 80px; }

.mr-auto {
  margin: 0 auto !important; }

.hamburger, .navbar-toggler {
  display: inline-block;
  cursor: pointer; }
  .hamburger .sticks, .navbar-toggler .sticks {
    display: inline-block;
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 3px;
    position: relative; }
    .hamburger .sticks:after, .hamburger .sticks:before, .navbar-toggler .sticks:after, .navbar-toggler .sticks:before {
      content: '';
      width: 100%;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.75);
      position: absolute;
      border-radius: 3px; }
    .hamburger .sticks:before, .navbar-toggler .sticks:before {
      top: -7px; }
    .hamburger .sticks:after, .navbar-toggler .sticks:after {
      top: 7px; }

span.close {
  display: inline-flex;
  padding: 2px 2px;
  font-size: 22px;
  font-weight: bold;
  color: #777777;
  margin: 0;
  cursor: pointer; }
  span.close:hover {
    color: #333333; }

.text-black {
  color: black; }

.f-s-24 {
  font-size: 24px; }

.search-box {
  width: 100%;
  max-width: 360px; }
  .search-box.full-width {
    max-width: 100%;
    background-color: #D9D9D9; }

.fullwidth {
  width: 100%; }

/**
 * ----------------------------------------------
 * Module imports
 * ----------------------------------------------
 * - grid
 *
 */
.section {
  display: block;
  padding-top: 48px;
  padding-bottom: 48px; }

.row {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap; }

.column {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto; }

.col-base, .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1%; }

.col {
  flex: 1 1 auto; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

/**
 * ----------------------------------------------
 * Components imports
 * ----------------------------------------------
 *
 *
 */
.alert {
  display: none; }
  .alert .alert-dialogue {
    display: block;
    max-width: 450px;
    width: 100%;
    border: 1px solid #F0F0F0;
    background-color: #FFFFFF;
    border-radius: 3px; }
    .alert .alert-dialogue .alert-header, .alert .alert-dialogue .alert-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 10px 20px; }
    .alert .alert-dialogue .alert-title {
      font-size: 2em;
      font-weight: normal;
      margin-bottom: .5em; }
      .alert .alert-dialogue .alert-title.alert-success {
        color: #7FD27F; }
      .alert .alert-dialogue .alert-title.alert-warning {
        color: #f54d42; }
    .alert .alert-dialogue .alert-footer {
      justify-content: center; }
    .alert .alert-dialogue .alert-footer {
      border-top: 1px solid #F0F0F0; }
      .alert .alert-dialogue .alert-footer button {
        margin-left: 3px;
        margin-right: 3px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        min-width: 100px; }
    .alert .alert-dialogue .alert-body {
      padding: 25px 20px;
      color: #777777;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.5;
      text-align: center; }
  .alert.open {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center; }

@media (max-width: 480px) {
  .alert {
    padding: 5px; }
    .alert .alert-dialogue .alert-header, .alert .alert-dialogue .alert-footer {
      padding: 5px 20px; }
    .alert .alert-dialogue .alert-header, .alert .alert-dialogue .alert-footer, .alert .alert-dialogue .alert-body {
      padding: 8px 10px;
      font-size: 11px; } }
.alert-sample {
  display: block !important; }

.avatar-shadow {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1); }

.avatar-small-square {
  width: 45px;
  height: 45px; }

.avatar-midium-square {
  width: 60px;
  height: 60px; }

.avatar-large-square {
  width: 75px;
  height: 75px; }

.avatar-xlarge-square {
  width: 160px;
  height: 160px; }

.avatar-small-rounded {
  width: 45px;
  height: 45px;
  border-radius: 100%; }

.avatar-midium-rounded {
  width: 60px;
  height: 60px;
  border-radius: 100%; }

.avatar-large-rounded {
  width: 75px;
  height: 75px;
  border-radius: 100%; }

.avatar-xlarge-rounded {
  width: 160px;
  height: 160px;
  border-radius: 100%; }

.avatar-xlarge-square,
.avatar-xlarge-rounded {
  position: relative;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF; }

.badge, .badge-border {
  display: inline-block;
  padding: 4px 6px;
  background-color: #FF1944;
  border-radius: 25px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 12px;
  font-weight: bold; }

.badge-border {
  border: 2px solid #FFFFFF; }

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden; }

.banner .banner-body {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center; }

.banner .banner-title {
  font-family: "Montserrat-regular";
  font-size: 2.5em;
  margin-bottom: 0.15em;
  font-weight: bold; }

.banner .banner-subtitle {
  font-family: "Montserrat-regular";
  font-size: 1.25em; }

.btn {
  padding: 8px 12px;
  color: #FFFFFF;
  border: 1px solid transparent;
  position: relative; }
  .btn.btn-block {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    display: block; }

.btn-primary {
  background-color: #fec100; }
  .btn-primary:hover {
    background-color: transparent;
    border-color: #fec100;
    color: #fec100; }

.btn-secondary {
  background-color: #528078; }
  .btn-secondary:hover {
    background-color: transparent;
    border-color: #528078;
    color: #528078; }

.btn-success {
  background-color: #7FD27F; }
  .btn-success:hover {
    background-color: transparent;
    border-color: #7FD27F;
    color: #7FD27F; }

.btn-danger {
  background-color: #f54d42; }
  .btn-danger:hover {
    background-color: transparent;
    border-color: #f54d42;
    color: #f54d42; }

.btn-notice {
  background-color: #ffd073; }
  .btn-notice:hover {
    background-color: transparent;
    border-color: #ffd073;
    color: #ffd073; }

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-notice,
.btn-border-primary,
.btn-border-secondary,
.btn-border-success,
.btn-border-danger,
.btn-border-notice {
  transition: all 300ms ease-in; }

.btn-border-primary {
  border-color: #fec100;
  color: #fec100; }
  .btn-border-primary:hover {
    background-color: #fec100;
    color: #FFFFFF; }

.btn-border-secondary {
  border-color: #528078;
  color: #528078; }
  .btn-border-secondary:hover {
    background-color: #528078;
    color: #FFFFFF; }

.btn-border-success {
  border-color: #7FD27F;
  color: #7FD27F; }
  .btn-border-success:hover {
    background-color: #7FD27F;
    color: #FFFFFF; }

.btn-border-danger {
  border-color: #f54d42;
  color: #f54d42; }
  .btn-border-danger:hover {
    background-color: #f54d42;
    color: #FFFFFF; }

.btn-border-notice {
  border-color: #ffd073;
  color: #ffd073; }
  .btn-border-notice:hover {
    background-color: #ffd073;
    color: #FFFFFF; }

.btn-border-primary,
.btn-border-secondary,
.btn-border-success,
.btn-border-danger,
.btn-border-notice {
  background-color: transparent; }

.btn-fancy {
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: bold !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }

.btn:active {
  top: 1px;
  left: 1px; }

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 4px;
  overflow: hidden; }

.card .card-img,
.card .card-img-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 320px; }

.card .card-img .card-title,
.card .card-img-full .card-title {
  color: #ffffff; }

.card .card-img {
  min-height: 230px; }

.card .card-img-full {
  flex-grow: 1; }

.card .card-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000; }

.card .card-subtitle {
  font-size: 11px;
  text-transform: uppercase;
  color: #d5d5d5;
  letter-spacing: 2px; }

.card .card-body {
  padding: 12px; }

.card .card-text {
  font-size: 14px;
  color: #414141; }

.card .card-header,
.card .card-footer {
  padding: 12px;
  text-align: center; }

.card .card-header {
  border-bottom: 1px solid #f0f0f0; }

.card .card-footer {
  border-top: 1px solid #f0f0f0; }

.dropdown {
  display: inline-block;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: #FFFFFF;
  border-radius: 3px;
  overflow: hidden; }
  .dropdown .dd-icon {
    margin-right: 1em; }

.dropdown-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column; }
  .dropdown-menu a {
    display: block;
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: 2em;
    padding-right: 2em;
    min-width: 180px;
    width: auto;
    font-size: 14px;
    color: #777777; }

.dropdown-default {
  border: 1px solid #F0F0F0; }
  .dropdown-default a {
    color: #777777; }
  .dropdown-default a:hover {
    background-color: rgba(240, 240, 240, 0.3); }
  .dropdown-default .active {
    background-color: #F0F0F0;
    color: #333333; }
  .dropdown-default .divider {
    border-top: 1px solid #F0F0F0; }

.dropdown-primary {
  border: 1px solid #fec100; }
  .dropdown-primary a {
    color: #fec100; }
  .dropdown-primary a:hover {
    background-color: rgba(254, 193, 0, 0.3); }
  .dropdown-primary .active {
    background-color: #fec100;
    color: #ffffff; }
  .dropdown-primary .divider {
    border-top: 1px solid #fec100; }

.dropdown-shadowed {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }

input, .label, label, select, textarea {
  font-family: "Montserrat-regular";
  transition: all 300ms ease-in-out; }

.label, label {
  font-size: 14px;
  font-weight: bold;
  color: #333333; }

.inp-radio input[type="radio"] {
  display: none; }
.inp-radio .radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #3F8ACD;
  border-radius: 10px;
  background-color: #FFFFFF;
  position: relative; }
.inp-radio input[type="radio"]:checked + .radio:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #3F8ACD;
  border-radius: 10px; }

.inp-checkbox input[type="checkbox"] {
  display: none; }
.inp-checkbox .checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #3F8ACD;
  border-radius: 2px;
  background-color: #FFFFFF;
  position: relative; }
.inp-checkbox input[type="checkbox"]:checked + .checkbox:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #3F8ACD;
  border-radius: 0; }

.form-controls-row {
  display: flex;
  flex-direction: column;
  margin-bottom: .8em; }
  .form-controls-row input, .form-controls-row textarea, .form-controls-row label {
    display: block; }
  .form-controls-row label {
    margin-bottom: .5em; }
  .form-controls-row textarea {
    min-height: 6em; }
  .form-controls-row.form-inline input, .form-controls-row.form-inline textarea, .form-controls-row.form-inline label {
    align-self: flex-start; }
  .form-controls-row input:focus, .form-controls-row select:focus, .form-controls-row textarea:focus {
    box-shadow: 0 0 0 3px rgba(3, 56, 236, 0.3);
    border: 1px solid #56A1E4; }
  .form-controls-row input[type="submit"]:focus, .form-controls-row input[type="reset"]:focus, .form-controls-row button:focus {
    box-shadow: none;
    border-color: inherit; }

.drop-shadow {
  min-height: 500px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px; }
  .drop-shadow.has-padding-t-b {
    padding-top: 100px;
    padding-bottom: 100px; }

.change-direction {
  flex-direction: row !important;
  align-items: center; }
  .change-direction label {
    width: 100%;
    max-width: 300px; }
  .change-direction input {
    width: 100%; }

.change-direction-button {
  max-width: 120px !important;
  margin-top: 64px !important; }

.acc-set-button {
  margin-top: 20px !important;
  max-width: 150px !important; }

.is-middle {
  margin: auto !important;
  margin-top: 20px !important; }

textarea {
  min-height: 6em; }
  textarea.fl-wd {
    width: 100%; }

select, .select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: right 8px center; }

.form-separator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #DADADA;
  margin: 20px 0; }

.form-error {
  color: red;
  font-size: 12px;
  margin-top: 8px; }

.product-list {
  display: flex;
  flex-direction: column;
  background: transparent; }

.product-list > .product-item {
  flex-grow: 1;
  display: flex;
  padding: 8px;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: none;
  transition: all 300ms ease-in-out; }

.product-list .product-img {
  max-height: 150px;
  max-width: 150px;
  overflow: hidden; }

.product-list .product-img img {
  width: 100%;
  height: 100%; }

.product-list .product-desc {
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden; }

.product-list .product-title {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "Montserrat-regular";
  font-size: 14px;
  font-weight: bold;
  color: #fec100;
  text-transform: uppercase; }

.product-list .product-desc p {
  font-size: 13px;
  font-weight: normal;
  color: #a0a0a0; }

.product-list .product-controls {
  text-align: center;
  position: relative;
  align-self: center; }

.product-list .product-item:hover {
  box-shadow: 0 2px 20px 8px rgba(0, 0, 0, 0.15);
  z-index: 99; }

.modal {
  display: none; }
  .modal .modal-dialogue {
    max-width: 450px;
    width: 100%;
    border: 1px solid #F0F0F0;
    border-radius: 3px; }
    .modal .modal-dialogue .modal-header, .modal .modal-dialogue .modal-footer {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #F0F0F0; }
      .modal .modal-dialogue .modal-header .modal-title, .modal .modal-dialogue .modal-footer .modal-title {
        font-size: 13px;
        font-weight: bold;
        color: #777777;
        margin-bottom: 0; }
    .modal .modal-dialogue .modal-header {
      justify-content: space-between; }
    .modal .modal-dialogue .modal-footer {
      justify-content: center; }
    .modal .modal-dialogue .modal-footer button {
      margin-left: 3px;
      margin-right: 3px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      min-width: 100px; }
    .modal .modal-dialogue .modal-footer.button-right {
      justify-content: flex-end; }
    .modal .modal-dialogue .modal-body {
      padding: 25px 20px;
      background-color: #FFFFFF;
      color: #777777;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.5; }
  .modal.open {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center; }

@media (max-width: 480px) {
  .modal {
    padding: 5px; }
    .modal .modal-dialogue .modal-header, .modal .modal-dialogue .modal-footer {
      padding: 5px 20px; }
    .modal .modal-dialogue .modal-body {
      padding: 8px 10px;
      font-size: 11px; } }
.modal-sample {
  display: block !important; }

.step-modal.open {
  display: block !important;
  justify-content: none !important;
  position: relative; }

.step-modal .step-modal-dialogue {
  margin-top: 30px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  display: none; }
  .step-modal .step-modal-dialogue.is-showing {
    display: block; }

.step-modal {
  display: block; }
  .step-modal .step-modal-dialogue {
    max-width: 600px;
    width: 100%;
    border: 1px solid #F0F0F0;
    border-radius: 3px; }
    .step-modal .step-modal-dialogue .step-modal-title {
      font-size: 13px;
      font-weight: bold;
      color: #ff5733;
      margin-bottom: 0;
      text-transform: uppercase; }
    .step-modal .step-modal-dialogue .step-modal-header, .step-modal .step-modal-dialogue .step-modal-footer {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #fff; }
    .step-modal .step-modal-dialogue .step-modal-footer {
      justify-content: center; }
    .step-modal .step-modal-dialogue .step-modal-header {
      justify-content: center;
      padding: 14px 20px;
      border-bottom: 1px solid #f0f0f0; }
      .step-modal .step-modal-dialogue .step-modal-header .step-modal-paginator {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: #e0e0e0;
        border-radius: 20px;
        margin-left: 4px;
        margin-right: 4px; }
        .step-modal .step-modal-dialogue .step-modal-header .step-modal-paginator.is-active {
          background: #ff5733; }
    .step-modal .step-modal-dialogue .step-modal-footer {
      border-top: 1px solid #f0f0f0; }
      .step-modal .step-modal-dialogue .step-modal-footer button {
        margin-left: 3px;
        margin-right: 3px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        min-width: 100px; }
    .step-modal .step-modal-dialogue .step-modal-body {
      background-color: #fff;
      color: #777777;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.5;
      padding: 40px; }
  .step-modal.open {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center; }

@media (max-width: 610px) {
  .step-modal {
    padding: 5px; }
    .step-modal .step-modal-dialogue {
      max-width: 500px; }
      .step-modal .step-modal-dialogue .step-modal-body {
        padding: 30px;
        font-size: 11px; } }
@media (max-width: 500px) {
  .step-modal {
    padding: 5px; }
    .step-modal .step-modal-dialogue {
      max-width: 400px; }
      .step-modal .step-modal-dialogue .step-modal-body {
        padding: 25px;
        font-size: 11px; } }
@media (max-width: 400px) {
  .step-modal {
    padding: 4px; }
    .step-modal .step-modal-dialogue {
      max-width: 300px; }
      .step-modal .step-modal-dialogue .step-modal-body {
        padding: 20px;
        font-size: 11px; } }
.step-modal-sample {
  display: block !important; }

.navbar {
  display: block;
  position: relative; }
  .navbar .container {
    display: flex;
    align-items: center; }
  .navbar.navbar-default {
    background-color: #F0F0F0; }
    .navbar.navbar-default .navbar-logo {
      margin-right: 4em;
      background-color: #717171; }
    .navbar.navbar-default .navbar-item {
      color: #777777; }
      .navbar.navbar-default .navbar-item:hover {
        color: #333333; }
      .navbar.navbar-default .navbar-item.active {
        color: #000000; }
  .navbar.navbar-primary {
    background-color: #fec100; }
    .navbar.navbar-primary .navbar-logo {
      margin-right: 4em;
      background-color: black; }
    .navbar.navbar-primary .navbar-item {
      color: rgba(255, 255, 255, 0.75); }
      .navbar.navbar-primary .navbar-item:hover {
        color: #FFFFFF; }
      .navbar.navbar-primary .navbar-item.active {
        color: #FFFFFF; }
  .navbar.navbar-dark {
    background-color: #333333; }
    .navbar.navbar-dark .navbar-logo {
      margin-right: 4em;
      background-color: black; }
    .navbar.navbar-dark .navbar-item {
      color: rgba(255, 255, 255, 0.75); }
      .navbar.navbar-dark .navbar-item:hover {
        color: #FFFFFF; }
      .navbar.navbar-dark .navbar-item.active {
        color: #FFFFFF; }
  .navbar.navbar-dark .dropdown.dropdown-dark {
    background-color: #333333;
    border-color: #1a1a1a; }
    .navbar.navbar-dark .dropdown.dropdown-dark a {
      color: #FFFFFF; }
      .navbar.navbar-dark .dropdown.dropdown-dark a:hover {
        background-color: #1a1a1a; }
  .navbar.navbar-transparent {
    background-color: rgba(0, 0, 0, 0.1); }
    .navbar.navbar-transparent:after {
      content: '';
      width: 100%;
      position: absolute;
      bottom: 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .navbar.navbar-transparent .navbar-logo {
      margin-right: 4em;
      background-color: transparent; }
    .navbar.navbar-transparent .navbar-item {
      color: white; }
      .navbar.navbar-transparent .navbar-item:hover {
        color: rgba(255, 255, 255, 0.5); }
      .navbar.navbar-transparent .navbar-item.active {
        color: rgba(255, 255, 255, 0.5); }
  .navbar.navbar-shadowed {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
  .navbar .navbar-logo {
    display: flex; }
    .navbar .navbar-logo img {
      height: 40px; }
    .navbar .navbar-logo .logo-txt {
      font-size: 1.5em;
      align-self: center; }
  .navbar .navbar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row; }
    .navbar .navbar-menu > li {
      display: flex;
      position: relative; }
      .navbar .navbar-menu > li .dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99; }
      .navbar .navbar-menu > li:hover .dropdown {
        display: block; }
    .navbar .navbar-menu .navbar-item {
      padding: 20px;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      transition: all 300ms ease-in-out;
      position: relative; }
  .navbar .navbar-on-sm .navbar-toggler {
    display: none; }

@media screen and (max-width: 768px) {
  .navbar .container {
    flex-direction: column;
    align-items: stretch; }
    .navbar .container .navbar-on-sm {
      display: flex;
      justify-content: space-between; }
      .navbar .container .navbar-on-sm .navbar-toggler {
        display: inline-block; }
      .navbar .container .navbar-on-sm .navbar-logo {
        margin-right: 0; }
    .navbar .container .navbar-menu {
      display: none;
      flex-direction: column;
      margin-left: -10px;
      margin-right: -10px;
      position: relative;
      left: 0;
      background: rgba(0, 0, 0, 0.75); }
      .navbar .container .navbar-menu > li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
        .navbar .container .navbar-menu > li .navbar-item {
          width: 100%;
          display: block;
          text-align: center; }
    .navbar .container .navbar-menu.open {
      display: flex; } }
.bg-transparent {
  background-color: transparent !important; }

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
  background-color: #ffffff; }
  .nav .nav-item {
    display: flex;
    position: relative; }
  .nav .nav-link {
    display: block;
    padding: 12px 20px;
    color: #427df5;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }
    .nav .nav-link:hover {
      color: #8baff9; }
    .nav .nav-link.active {
      color: #fec100; }

.popover {
  min-width: 270px;
  max-width: 350px;
  border: 1px solid #F0F0F0;
  background-color: #FFFFFF;
  border-radius: 3px;
  position: relative;
  z-index: 999; }
  .popover .popover-header, .popover .popover-footer {
    padding: 15px 20px; }
    .popover .popover-header .popover-title, .popover .popover-footer .popover-title {
      font-size: 14px;
      font-weight: normal;
      color: #333333;
      text-align: center; }
  .popover .popover-footer {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color: #777777; }
    .popover .popover-footer span {
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px; }
    .popover .popover-footer span:first-child {
      padding-left: 0; }
    .popover .popover-footer span:last-child {
      padding-right: 0; }
  .popover:after, .popover:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-top: 13px solid transparent;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent; }
  .popover:after {
    top: -26px;
    border-bottom: 13px solid #F0F0F0;
    z-index: 9; }
  .popover:before {
    top: -25px;
    border-bottom: 13px solid #FFFFFF;
    z-index: 10; }

.popover ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column; }
  .popover ul li {
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 300ms ease-in-out; }
    .popover ul li:hover {
      background-color: #FFFFFF; }
  .popover ul li:first-child {
    padding-top: 20px; }
  .popover ul li:last-child {
    padding-bottom: 20px; }

.popover-body {
  background-color: #ECEFF3;
  max-height: 300px;
  overflow-y: auto; }
  .popover-body .thumbnail {
    display: inline-block;
    width: 50px; }
  .popover-body .msg {
    display: inline-block;
    padding-left: 20px; }
    .popover-body .msg .msg-title {
      font-size: 13px;
      font-weight: normal;
      color: #333333;
      margin-bottom: 8px; }
    .popover-body .msg .msg-body {
      font-size: 12px;
      font-weight: normal;
      color: #777777;
      margin-bottom: 8px; }
    .popover-body .msg .msg-meta {
      font-size: 10px;
      font-weight: normal;
      color: #aaaaaa; }
    .popover-body .msg span {
      display: block; }

.tab {
  display: block;
  overflow-x: hidden;
  border: 1px solid #F0F0F0;
  border-radius: 3px; }

.tab-header {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #F0F0F0; }

.tab .tab-items,
.tab .tab-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center; }

.tab .tab-item a {
  display: block;
  padding: 5px 2em 20px 2em;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #777777; }

.tab-item.active {
  border-bottom: 2px solid #fec100; }

.tab-item.active a {
  color: #fec100; }

.tab-body {
  padding: 10px; }

.tab-item .tab-icon {
  padding-right: 1em; }

.toast {
  max-width: 350px;
  width: 100%;
  display: flex;
  background-color: #f0f0f0;
  color: #777;
  border-radius: 3px;
  box-shadow: -4px 5px 7px rgba(0, 0, 0, 0.08);
  font-size: 13px;
  overflow: hidden; }
  .toast .toast-left, .toast .toast-head, .toast .toast-body {
    padding: 10px; }
  .toast .toast-left {
    background-color: #e0e0e0; }
  .toast .toast-right {
    flex: 1; }
    .toast .toast-right .toast-head {
      border-bottom: 1px solid #e0e0e0;
      position: relative;
      padding: 14px; }
      .toast .toast-right .toast-head .toast-title {
        font-weight: bold; }
      .toast .toast-right .toast-head .close {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%); }
  .toast.is-primary {
    background-color: #97d1ff;
    color: #004589; }
    .toast.is-primary .toast-left {
      background-color: #3998ff;
      color: #fff; }
    .toast.is-primary .toast-right .toast-head {
      border-bottom: 1px solid #56a4e3; }
      .toast.is-primary .toast-right .toast-head .close {
        color: #3998ff; }
  .toast.is-danger {
    background-color: #ffa29c;
    color: #c50c00; }
    .toast.is-danger .toast-left {
      background-color: #f54d42;
      color: #fff; }
    .toast.is-danger .toast-right .toast-head {
      border-bottom: 1px solid #ef817a; }
      .toast.is-danger .toast-right .toast-head .close {
        color: #f54d42; }
  .toast.is-success {
    background-color: #b4ffc7;
    color: #00ba2f; }
    .toast.is-success .toast-left {
      background-color: #2ce65b;
      color: #fff; }
    .toast.is-success .toast-right .toast-head {
      border-bottom: 1px solid #91eaa7; }
      .toast.is-success .toast-right .toast-head .close {
        color: #2ce65b; }

@media (max-width: 480px) {
  .toast {
    max-width: 280px; } }
.section {
  padding: 0;
  padding-top: 100px;
  padding-bottom: 100px; }
  .section .page-header {
    margin-bottom: 32px; }
    .section .page-header .row .col .page-header-right {
      display: flex;
      justify-content: flex-end;
      gap: 16px; }
  .section .footer-nav .nav {
    justify-content: space-between;
    padding: 0 32px; }
    .section .footer-nav .nav a {
      color: black;
      font-weight: 600; }

.table-container {
  width: 100%;
  overflow: hidden;
  overflow-x: auto; }

.table {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 24px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1); }
  .table thead {
    background-color: #D9D9D0; }
  .table th {
    text-align: left;
    color: #847A7A; }
  .table tbody th {
    text-align: left;
    color: #847A7A; }
  .table tr {
    border-bottom: 1px solid #E4E4E4; }
  .table td, .table th {
    padding: 16px;
    color: black;
    vertical-align: middle; }
    .table td button i, .table th button i {
      font-size: 20px; }

@media screen and (max-width: 768px) {
  .section.dashboard-section.dashboard-metric .row {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 16px;
    padding-bottom: 16px; } }
.section.dashboard-section.dashboard-metric .dash-title-sm.account-status-title {
  color: #5BD067; }
.section.dashboard-section.dashboard-metric .dash-title-sm.training-status-title {
  color: #E59060; }
.section.dashboard-section.dashboard-metric .dash-title-sm.document-uploaded-title {
  color: #333333; }
  .section.dashboard-section.dashboard-metric .dash-title-sm.document-uploaded-title span {
    color: #5BD067; }
.section.dashboard-section .dash-data {
  background-color: #ffffff;
  text-align: center;
  color: black;
  padding: 44px 0px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px; }
  .section.dashboard-section .dash-data .dash-header .dash-title {
    font-size: 48px; }
    .section.dashboard-section .dash-data .dash-header .dash-title-sm {
      font-size: 24px;
      font-weight: 700; }

.account-setup {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; }

.upload-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
  border: 2px dashed #949292;
  border-radius: 16px; }
  .upload-photo .photo-icon {
    width: 100%;
    max-width: 40px; }

.border-none {
  border: none !important; }

.take-photo {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #4D72F5;
  text-decoration: underline;
  cursor: pointer; }
  .take-photo:hover {
    color: rgba(77, 114, 245, 0.75); }

.notification {
  padding: 20px 32px;
  background-color: #D0D0D0;
  color: #333333;
  border-color: #B8B8B8;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid; }
  .notification header {
    display: flex;
    align-items: center; }
    .notification header .notification-title {
      color: inherit;
      font-weight: 700; }
  .notification-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px; }
    .notification-icon .icon {
      width: 100%;
      fill: #333333; }
  .notification-text {
    margin-left: 32px;
    color: inherit; }
    .notification-text ul {
      margin-top: 32px;
      list-style-type: disc; }
      .notification-text ul li {
        line-height: 150%; }
    @media screen and (max-width: 768px) {
      .notification-text {
        margin-left: 0; } }
  .notification.is-danger {
    background-color: #FFE4DE;
    border-color: #FFD4CB;
    color: #EA5838; }
    .notification.is-danger .notification-icon .icon {
      fill: #EA5838; }
  .notification.is-success {
    background-color: #DEFFDF;
    border-color: #C1FFC4;
    color: #37BA3C; }
    .notification.is-success .notification-icon .icon {
      fill: #37BA3C; }

.accordians {
  display: flex;
  flex-direction: column;
  gap: 32px; }
  .accordians .accordian {
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden; }
    .accordians .accordian-button {
      padding: 0;
      margin: 0;
      box-shadow: none;
      border: none;
      background: none;
      padding: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      cursor: pointer; }
      .accordians .accordian-button .accordian-title-wrapper {
        line-height: 1;
        text-align: left; }
        .accordians .accordian-button .accordian-title-wrapper .accordian-title {
          font-size: 16px;
          font-weight: 700;
          color: #333333; }
        .accordians .accordian-button .accordian-title-wrapper .accordian-subtitle {
          font-size: 14px;
          font-weight: 400;
          color: #888888;
          margin-top: 8px; }
      .accordians .accordian-button .accordian-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        background-color: #E0E0E0;
        color: #888888;
        fill: #888888;
        border-radius: 100%;
        font-size: 16px;
        transform: rotate(0deg);
        transition: transform 300ms ease-in; }
    .accordians .accordian-body {
      height: 0px;
      overflow: hidden;
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 0px;
      opacity: 0;
      transition: padding-bottom 300ms ease-in, opacity 300ms ease-in; }
    .accordians .accordian.active .accordian-body {
      height: unset !important;
      padding-bottom: 32px;
      opacity: 1; }
    .accordians .accordian.active .accordian-button .accordian-icon {
      transform: rotate(180deg); }

.id-card {
  max-width: 350px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff; }
  .id-card .id-card-cover {
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    position: relative; }
    .id-card .id-card-cover img {
      width: 200px;
      height: 200px;
      transform: translateY(50%); }
    .id-card .id-card-cover:before {
      content: "";
      width: 36px;
      height: 10px;
      border-radius: 12px;
      background-color: #fff;
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 19; }
  .id-card .id-card-info {
    text-align: center;
    color: #333333;
    padding-top: 106px;
    padding-bottom: 20px; }
    .id-card .id-card-info .id-card-holder-name, .id-card .id-card-info .id-card-holder-desig {
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase; }
    .id-card .id-card-info .id-card-holder-desig {
      font-size: 11px;
      letter-spacing: 5px; }
    .id-card .id-card-info .id-card-info-others .small {
      font-size: 10px; }
      .id-card .id-card-info .id-card-info-others .small.has-gap-top {
        margin-top: 5px; }

/*# sourceMappingURL=dashboard.css.map */
